{% if user.is_authenticated %}
    <button id="edit-post-btn-down" class="btn btn-info btn-sm">Редактировать</button>
    <div id="edit-form-container-down" style="display: none;">
        <form id="edit-post-form-down" class="full-height">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ object.id }}">
            <textarea name="content" id="content-down" class="form-control full-height">{{ object.content }}</textarea>
            <button type="submit" id="save-changes-btn-down" class="btn btn-success fixed-btn">Сохранить</button>
        </form>
    </div>
{% endif %}